<div ng-controller="userController as UC">

	<div>
		<h1>Login</h1>
		<form>
			<p>User: <input type="text" ng-model="UC.loginInfo.first_name"></p>
			<div ng-if="UC.errors.length > 0">{{UC.errors}}</div>
			<button ng-click="UC.login()" >Login</button>
		</form>
	</div>
	<br>
	<div>
		<h1>Register</h1>
		<form>
			<p>First Name <input type="text" ng-model="UC.regInfo.first_name"></p>
			<button ng-click="UC.register()">Register</button>
		</form>
		<div ng-if="UC.errors.reg.length > 0">{{UC.errors.reg}}</div>
	</div>

</div>
